.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 250, 243);
}

.buttons {
    display: flex;
    justify-content: right;
    background-color: rgb(255, 250, 243);
}

.button {
    width: 20%;
    margin: 10px, 0, 0, 0;
    padding: 0;
    background-color: rgb(255, 250, 243);
    border: none;
}

.home-title {
    font-size: 2rem;
    font-weight: 500;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.home-img {
    position: absolute; /* or fixed, depending on your layout */
    z-index: -1; /* Ensure it is under all other components */
    bottom: 0;
    left: 0;
    width: 100%;
    height: 78%;
    object-fit: cover; /* Ensure the image covers the entire area */
}