.bookInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    position: relative;
}

.booktitle {
    font-size: 1.5em;
    font-weight: 500;
    margin: 10px;
}

.listauthorsbook {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 0;
    width: 100%;
}

.authorsbook {
    list-style: none;
    font-size: 1.2em;
    font-weight: 500;
    margin: 3px;
}

.closeIcon {
    position: absolute;
    top: 0px;
    right: 10px;
    width: 30px;
    height: auto;
}

.deleteIcon {
    position: absolute;
    top: 0px;
    left: 10px;
    width: 30px;
    height: auto;
}

.uploadIcon {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 30px;
    height: auto;
}

.fileUploadedIcon {
    position: absolute;
    top: 50px;
    left: 10px;
    width: 30px;
    height: auto;
}

.downloadFileIcon {
    position: absolute;
    top: 50px;
    right: 10px;
    width: 30px;
    height: auto;
}

.downloadstatus {
    position: absolute;
    top: 50px;
    right: 70px;
    width: 30px;
    height: auto;
}